.advice-wrapper {
  width: 100%;
  min-height: 100%;
  //margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-bottom: 10px;
  border-width: 3px;
  border-color: rgba(95, 124, 253, 0.6);
  border-radius: 10px;
  font-family: $quicksand;

  h1 {
    background-color: rgba(95, 124, 253, 0.6);
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-family: $gothic;
    font-size: 400%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .advice-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    //align-items: center;
    width: 75%;
    min-height: 100%;
    margin-top: 25px;
    border-style: double;
    border-width: 5px;
    border-radius: 30px;
    border-color: rgba(95, 124, 253, 0.6);
    padding: 40px 60px 40px 60px;
    a {
      text-decoration: none;
    }

    h2 {
      font-family: $gothic;
      font-size: 250%;
      margin-bottom: 25px;
      text-align: left;
      align-items: left;
    }

    h3 {
      font-family: $gothic;
      font-size: 100%;
    }

    p {
      margin-top: 15px;
      font-size: 25px;
      margin-bottom: 50px;
    }
  }
}
